body{
    background-color: #f082ac;
}
.blank{
    background-color: #c6c923c9;
    border-radius: 90px;
    margin: 0px 400px 0px 400px;
    color: rgb(236, 80, 18);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.nav-bar{
    background-color: #c6c923c9;
    padding: 30px 10px 30px 10px;
    border-radius: 400px;
    font-size: 20px;
    text-align: center;
    margin: 0px 200px 0px 200px; 
    font-weight: bolder;
    
    
}
a{
    text-decoration: none;
    padding-left: 30px;
}
.nav-1{
    color: #6657bb;
    
}
img{
    width: 30px;
}
.div-1{
    text-align: center;
    color: #d121ab93;
    font-size: 60px;
    font-family: sans-serif;
}
.b-2{
    margin-left: 100px;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    
}





